{% if show_always %}
    <script>
    $(document).ready(function () {
        $.ajax({
            method: 'POST',
            url: '{{ browser_check_url }}',
        });
    });
    </script>
{% else %}
    {% if not browser_was_checked %}
        <script>
        $(document).ready(function () {
            $.ajax({
                method: 'POST',
                url: '{{ browser_check_url }}',
            });
        });
        </script>
    {% endif %}
{% endif %}
